body {
    font-family: 'Manrope', sans-serif;
    background-color: beige;
    color: #EB743A;
}

table, th, tr, td {
    border: 3px solid #EB743A;
    border-collapse: collapse;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: #EB743A;
    text-decoration: underline;
    background-color: aquamarine;
}