body {
    font-family: 'Manrope', sans-serif;
    background-color: beige;
    color: #EB743A;    
}

table, th, tr, td {
    border: 3px solid #EB743A;
    border-collapse: collapse;
    padding: 5px;
}
table {
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: #EB743A;
    text-decoration: underline;
    background-color: aquamarine;
}

.nav {
    text-align: center;
}

h1, h2, h3, h4, h5{
    align-items: center;
    text-align: center;
}
img {
    display: block;
    margin: auto;
}
table {
    display: block;
    margin: auto;
    width: 30%;
}

i {
    text-align: center;
    display: block;
}

ul {
   text-align: center;
   list-style-position: inside;
}